<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmall.xmall.dao.mapper.ProductMapper">
    <insert id="saveProduct" useGeneratedKeys="true" keyProperty="id" parameterType="ProductEntity">
        insert into xm_product (`name`, introduction, price, current_price, small_pic_address, big_pic_address,
        limitation, category_id, is_have_attribute,freight_price, `status`, sale, unit, `storage`, creat_time)
        values (#{name},#{introduction},#{price},#{currentPrice},#{smallPicAddress},#{bigPicAddress},
        #{limitation},#{categoryId},#{isHaveAttribute},#{freightPrice},#{status},#{sale}, #{unit},
        #{storage}, #{creatTime})
    </insert>
    <select id="findAllByStatus" resultType="ProductEntity">
        select * from xm_product where `status` = #{status}
    </select>
    <select id="findAllByCategory" resultType="ProductEntity">
        select * from xm_product where `category_id` = #{id}
    </select>
    <select id="findById" resultType="ProductEntity">
        select * from xm_product where id = #{id}
    </select>
    <update id="updateSmallPicById" >
        update xm_product
        set small_pic_address = #{path}
        where id = #{id}
    </update>
    <update id="updateBigPicById" >
        update xm_product
        set big_pic_address = #{path}
        where id = #{id}
    </update>
    <update id="updateStatusById" >
        update xm_product
        set status = #{status}
        where id = #{id}
    </update>
    <update id="updatePriceById" >
        update xm_product
        set price = #{price}
        where id = #{id}
    </update>
    <update id="updateSaleById" >
        update xm_product
        set sale = #{sale}
        where id = #{id}
    </update>
    <update id="updateById" >
        update xm_product
        set `name` = #{name}, introduction = #{introduction}, price = #{price},
            current_price = #{currentPrice},limitation = #{limitation},storage = #{storage},
            freight_price = #{freightPrice}, status = #{status}, unit = #{unit}, category_id = #{categoryId}
        where id = #{id}
    </update>
    <update id="updateStorageById" >
        update xm_product
        set storage = #{storage}
        where id = #{id}
    </update>
    <select id="getFiveByRandom" resultType="ProductEntity">
        select  *  from  xm_product where status = 1 order by rand() limit 5
    </select>
</mapper>